body {
  background-color: yellow;
}
h1 {
  color: blue;
  border: 20px solid orange;
	text-align: center;
}
h2 {
  color: blue;
  border: 10px solid orange;
}
p1 {
	text-align: center;
  color: red;
   padding: 10px;
}
p2 {
	text-align: center;
  color: black;
   padding: 10px;
}