body {
  background-color: lightblue;
}
h1 {
	background-color: powderblue;
  color: black;
  font-family: verdana;
  border: 5px solid orange;
  border-style: double;
}
#para1 {
	border-bottom: medium dashed black;
		text-align: center;
		background-color: tomato;
  color: #990000;
  font-size: 30px;
  font-family: courier;
   padding: 20px;
    margin: 50px;
  
}

.a {
  color: white;
  list-style-type: circle;
list-style-position: outside;
text-align: center;


}
.b{
  color: grey;
  list-style-type: square;
  list-style-position: inside;
  text-align: center;
 }
 
#para2 {

  color: #FF9999;
   font-family: arial;
  font-size: 160%;
  border-color: orange blue black yellow;
  border-style: dotted dashed;
  border-width:   10px 15px 20px 5px;
  border-radius: 15px;
     padding: 20px;

}
.c {
  color: black;
  list-style-type: upper-roman;
   


}
.d {
  color: brown;
  list-style-type: lower-alpha;
  padding: 35px;
 
}
.span {
	color: red;
	font-size: 35px;
	font; arial;
}
	
